//Some base styles from each tag.
//Please only change here if you want to apply this on every page from your site
@import '../variables/colors.styl'
@import '../mixins/grid.styl'

*
  font-family Helvetica
  color $font_color
  box-sizing()
