//These variables are the palette for the project, actual values are the white Venom colors

//Main Palette
$blue = #1a7cd6
$yellow = #feb046
$red = #eb544f
$green = #67c769
$babyblue = #2bb2da
$orange = #fe8846
$purple = #c07ff4
$brown  = #a26543
$pink = #fa8cd5
$gray = #8a8893
$white = #ffffff

//Font colors
$font_color = #5c5c5c

//These colors are used with mains
$dark_white = $white - 10%

$dark_blue = $blue - 20%
$light_blue = $blue + 30%

$dark_yellow = $yellow - 20%
$light_yellow = $yellow + 30%

$dark_red = $red - 20%
$light_red = $red + 30%

$dark_green = $green - 20%
$light_green = $green + 30%

$dark_babyblue = $babyblue - 10%
$light_babyblue = $babyblue + 30%

$dark_gray = $gray - 10%
$light_gray = $gray + 30%

$dark_orange = $orange - 10%
$light_orange = $orange + 30%

$dark_brown = $brown - 10%
$light_brown = $brown + 30%

$dark_purple = $purple - 10%
$light_purple = $purple + 30%

$dark_pink = $pink - 10%
$light_pink = $pink + 30%

//Border colors
$border_white = #d0d0d0
$border_blue = $blue - 5%
$border_yellow = $yellow - 5%
$border_red = $red - 5%
$border_green = $green - 5%
$border_babyblue = $babyblue - 5%
$border_gray = $gray - 5%
$border_pink = $pink - 1%
$border_purple = $purple - 2%
$border_orange = $orange - 5%
$border_brown = $brown - 5%
