//These variables are the palette for the project, actual values are the default Venom colors

//Main Palette
$primary = #2c3fd4
$warning = #e39218
$danger = #dd321a
$success = #46D83C
$info = #2379df

//Font colors
$font_color = #212121

//These colors are used with mains
$dark_primary = #2636b4
$light_primary = #a0bae3

$dark_warning = #c27c12
$light_warning = #f4d9b2

$dark_danger = #be2a15
$light_danger = #f1bab2

$dark_success = #319f29
$light_success = #c8f7c5

$dark_info = #2360aa
$light_info = #a0c4ee

//Border colors
$border_primary = #1d31cd
$border_warning = #e08b0a
$border_danger = #e02b12
$border_success = #30d425
$border_info = #1271e2
