//These variables are the palette for the project, actual values are the default Venom colors

//Main Palette
$primary = #1a7cd6
$warning = #feb046
$danger = #eb544f
$success = #67c769
$info = #2bb2da

//Font colors
$font_color = #212121

//These colors are used with mains
$dark_primary = $primary - 15%
$light_primary = $primary + 30%

$dark_warning = $warning - 15%
$light_warning = $warning + 30%

$dark_danger = $danger - 15%
$light_danger = $danger + 30%

$dark_success = $success - 15%
$light_success = $success + 30%

$dark_info = $info - 15%
$light_info = $info + 30%

//Border colors
$border_primary = $primary - 5%
$border_warning = $warning - 5%
$border_danger = $danger - 5%
$border_success = $success - 5%
$border_info = $info - 5%
