//Here you can set the general variables to the grid system

$max-width = 1300px


//Set the number of columns, margin, etc.
$number-of-columns = 12
//set the margin of the cells
$padding-of-columns = 15px
