//Set the fonts you want to use in project

$global_font = Helvetica
$global_font_size = 1.05em

$h1 = 30px
$h2 = 28px
$h3 = 26px
$h4 = 24px
$h5 = 22px
$h6 = 20px

$heading_weight = bold
$heading_padding = 6px
$em_text_color = #808080
$em_font_size = 18px
