//Here you can customize the buttons. If you don't touch this file, you will be able to use white Venom buttons
@import '../variables/colors.styl'

//The button class
.button
  display inline-block
  text-align center
  vertical-align middle
  line-height 1
  padding 0.6em 0.8em
  margin 0em 0.45em
  border 1px solid $border_white
  border-radius 1px
  color $font_color
  background $white
  cursor pointer
  transition background 0.25s ease-in

  &.disabled
    opacity 0.5
    cursor not-allowed
    &:hover
      background $white

  &:hover
    background $dark_white
    border-color $border_white


  &.blue
    background $blue
    border-color $border_blue
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $blue
    &:hover
      background $dark_blue

  &.yellow
    background $yellow
    border-color $border_yellow
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $yellow
    &:hover
      background $dark_yellow

  &.red
    background $red
    border-color $border_red
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $red
    &:hover
      background $dark_red

  &.green
    background $green
    border-color $border_green
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $green
    &:hover
      background $dark_green

  &.babyblue
    background $babyblue
    border-color $border_babyblue
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $babyblue
    &:hover
      background $dark_babyblue

  &.orange
    background $orange
    border-color $border_orange
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $orange
    &:hover
      background $dark_orange

  &.brown
    background $brown
    border-color $border_brown
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $brown
    &:hover
      background $dark_brown

  &.purple
    background $purple
    border-color $border_purple
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $purple
    &:hover
      background $dark_purple

  &.pink
    background $pink
    border-color $border_pink
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $pink
    &:hover
      background $dark_pink

  &.gray
    background $gray
    border-color $border_gray
    color #fafafa
    &.disabled
      opacity 0.5
      cursor not-allowed
      &:hover
        background $gray
    &:hover
      background $dark_gray

  //Sizes
  &.small
    font-size 0.8em

  &.big
    font-size 1.5em

  &.full
    display block
    width 100%
    margin 0

  &.rounded
    border-radius 2em

  //Groups, in this section, you can set the configuration for your button groups
.button-group
  width 100%
  height auto
  display block
  overflow auto
  .button
    border-radius 0px
    margin 0.5em 0em
    float left
    border-right transparent
    position relative

    &:first-child
      border-radius 2px 0px 0px 2px

    &:last-child
      border 1px solid inherit
      border-radius 0px 2px 2px 0px
