//Here you can customize the buttons. If you don't touch this file, you will be able to use white Venom buttons
@import '../variables/colors.styl'
@import '../mixins/buttons.styl'

//The button class
.button
  display inline-block
  text-align center
  vertical-align middle
  line-height 1
  padding 0.6em 0.8em
  border 1px solid $border_white
  border-radius 1px
  color $font_color
  background $white
  cursor pointer
  transition background 0.25s ease-in

  disabled($white)

  hover($dark_white)

  &.blue
    background $blue
    border-color $border_blue
    color #fafafa
    disabled($blue)
    hover($dark_blue)

  &.yellow
    background $yellow
    border-color $border_yellow
    color #fafafa
    disabled($yellow)
    hover($dark_yellow)

  &.red
    background $red
    border-color $border_red
    color #fafafa
    disabled(red$red)
    hover($dark_red)

  &.green
    background $green
    border-color $border_green
    color #fafafa
    disabled($green)
    hover($dark_green)

  &.babyblue
    background $babyblue
    border-color $border_babyblue
    color #fafafa
    disabled($babyblue)
    hover($dark_babyblue)

  &.orange
    background $orange
    border-color $border_orange
    color #fafafa
    disabled($orange)
    hover($dark_orange)

  &.brown
    background $brown
    border-color $border_brown
    color #fafafa
    disabled($brown)
    hover($dark_brown)

  &.purple
    background $purple
    border-color $border_purple
    color #fafafa
    disabled($purple)
    hover($dark_purple)

  &.pink
    background $pink
    border-color $border_pink
    color #fafafa
    disabled($pink)
    hover($dark_pink)

  &.gray
    background $gray
    border-color $border_gray
    color #fafafa
    disabled($gray)
    hover($dark_gray)

  //Sizes
  &.small
    font-size 0.8em

  &.big
    font-size 1.5em

  &.full
    display block
    width 100%
    margin 0

  &.rounded
    border-radius 2em

  //Groups, in this section, you can set the configuration for your button groups
.button-group
  width auto
  height auto
  display inline-block
  overflow auto
  .button
    border-radius 0px
    margin 0.5em 0em
    float left
    border-right transparent
    position relative

    &:first-child
      border-radius 2px 0px 0px 2px

    &:last-child
      border 1px solid transparent
      border-radius 0px 2px 2px 0px
