.keyword
    padding 4px 7px
    color white
    border-radius 2px
    &.success
        background $success
    &.primary
        background $primary
    &.danger
        background $danger
    &.warning
        background $warning
    &.info
        background $info

span.code
    padding 6px
    background-color #ddd
    color #f02822

.bag
    padding 4px
    border-radius 2em
    color white
    &.success
        background $success
    &.primary
        background $primary
    &.danger
        background $danger
    &.warning
        background $warning
    &.info
        background $info
