
@import "../mixins/elements.styl"

.keyword
    padding 4px 7px
    color white
    border-radius 2px
    color-semantic-bg()

span.code
    padding 6px
    background-color #ddd
    color #f02822

.bag
    padding 6px
    border-radius 6em
    color white
    font-size 12px
    color-semantic-bg()

.helpbox
	border-width 1px
	border-style solid
	padding 6px 12px
	border-left-width 6px
	border-radius 4px
	color-semantic-border()

.toolbox
	border-width 1px
	border-style solid
	border-radius 2px
	toolbox-colors()
	.title
		font-weight 500
		color white
		padding 6px 12px
	.body
		padding 6px 12px
