
@import "../mixins/elements.styl"

.keyword
    padding 4px 7px
    color white
    border-radius 2px
    color-semantic-bg()

span.code
    padding 1px 8px
    background-color #f0f0f0
    color #DF4F4B
    border 1px solid #ddd
    font-size 80%
    
div.code
	padding 0px 20px
	border 1px solid #CCCCCC
	background-color #f0f0f0
	white-space pre-wrap
	color #DF4F4B
	margin-bottom 12px

.bag
    padding 6px
    border-radius 6em
    color white
    font-size 12px
    color-semantic-bg()

.helpbox
	border-width 1px
	border-style solid
	padding 6px 12px
	border-left-width 6px
	border-radius 4px
	color-semantic-border()

.toolbox
	border-width 1px
	border-style solid
	border-radius 2px
	toolbox-colors()
	.title
		font-weight 500
		color white
		padding 6px 12px
	.body
		padding 6px 12px
