//Here you can configure the grid as you wish, setting the number of columns, breakpoints, etc.

@import '../variables/grid.styl'
@import '../mixins/grid.styl'

.container
  width 90%
  max-width $max-width
  margin 0 auto
  height auto
  &.max
    width 100%

.row
  padding 0 $padding-of-columns
  &:after
    clear both
    content ""
    display block

grid-sistem-mob($number-of-columns,$padding-of-columns)
//Media Queries
@media (min-width 768px)
  grid-sistem-sml($number-of-columns,$padding-of-columns)

@media (min-width 991px)
  grid-sistem-med($number-of-columns,$padding-of-columns)

@media (min-width 1170px)
  grid-sistem-lrg($number-of-columns,$padding-of-columns)
