//Helper classes
//
//
@import "../variables/colors.styl"
//Text
.alg-center
  text-align center

.alg-left
  text-align left

.alg-right
  text-align right

.alg-justify
    text-align justify

//floats
.right
    float right

.left
    float left
