color-semantic-bg()
    &.success
        background $success
    &.primary
        background $primary
    &.danger
        background $danger
    &.warning
        background $warning
    &.info
        background $info

color-semantic-border()
	&.success
        border-color $success
    &.primary
        border-color $primary
    &.danger
        border-color $danger
    &.warning
        border-color $warning
    &.info
        border-color $info

toolbox-colors()
	&.success
		border-color $success
		.title
			background $success
	&.primary
		border-color $primary
		.title
			background $primary
	&.info
		border-color $info
		.title
			background $info
	&.danger
		border-color $danger
		.title
			background $danger
	&.warning
		border-color $warning
		.title
			background $warning
