//Mixins used in Forms module, you can change it for your needness


border-box()
	-webkit-box-sizing border-box
	-moz-box-sinzing border-box
	-ms-box-sinzing border-box
	-o-box-sizing border-box
	box-sizing border-box

margin-for-cells(margin)
	margin margin

clearfix()
	&:after
		clear both
		content ""
		display block
