
box-sizing()
  $vendors = webkit, moz, ms, o
  box-sizing border-box
  for $vendor in $vendors
    -{$vendor}-box-sizing border-box

width-cell(number-of-columns, padding-of-columns)
  for cols in number-of-columns..1
    &-{cols}
      width ((cols/100%)*(100%/number-of-columns)) * 100
      padding 0 padding-of-columns
      float left
      position relative



grid-sistem-mob(number-of-columns, padding-of-columns)
  .mob
    width-cell(number-of-columns, padding-of-columns)

grid-sistem-sml(number-of-columns, padding-of-columns)
  .sml
    width-cell(number-of-columns, padding-of-columns)

grid-sistem-med(number-of-columns, padding-of-columns)
  .med
    width-cell(number-of-columns, padding-of-columns)

grid-sistem-lrg(number-of-columns, padding-of-columns)
  .lrg
    width-cell(number-of-columns, padding-of-columns)
